fastapi==0.115.0
uvicorn[standard]==0.30.6
gunicorn==23.0.0
python-multipart==0.0.9
azure-storage-blob==12.22.0
azure-cosmos==4.7.0
requests==2.32.3
bcrypt==4.2.0
PyJWT==2.9.0
pydantic==2.9.2
python-dotenv==1.0.1
pypdf==5.0.1
